<div class="mt-4">
    <form method="post" action>
        <div class="form-group">
            <label for="exampleInputEmail1">Từ khoá</label>
            <input type="text" class="form-control" name="q" placeholder="Nhập từ khoá....">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>